:root { 
--bluegray_50:#ebeef0; 
--gray_901:#0f1419; 
--blue_500:#1da1f2; 
--gray_800:#4f4f4f; 
--gray_900:#14171a; 
--light_blue_400:#29abe2; 
--blue_500_87:#1da1f287; 
--gray_50:#f7f9fa; 
--bluegray_601:#536471; 
--bluegray_600:#5b7083; 
--black_900_99:#00000099; 
--black_900:#000000; 
--pink_500:#f4245e; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
}